<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>815217110844-soemnsv8t38j34f53h51u1gpd923mv5h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.815217110844-soemnsv8t38j34f53h51u1gpd923mv5h</string>
	<key>API_KEY</key>
	<string>AIzaSyC_UWPpcS4QbnC12FfUi0e8SRFk3UKOcCI</string>
	<key>GCM_SENDER_ID</key>
	<string>815217110844</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.chatAPP</string>
	<key>PROJECT_ID</key>
	<string>chatapp-1e13e</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-1e13e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:815217110844:ios:21a1b75e55fb2a815fb839</string>
</dict>
</plist>